[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
	branch = master
[submodule "Engine/vender/imgui"]
	path = Engine/vender/imgui
	url = https://github.com/HimiiFish/imgui.git
	branch = docking
[submodule "Engine/vender/ImGuizmo"]
	path = Engine/vender/ImGuizmo
	url = https://github.com/HimiiFish/ImGuizmo.git
[submodule "Engine/vender/nativefiledialog-extended"]
	path = Engine/vender/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "Engine/vender/msdf-atlas-gen"]
	path = Engine/vender/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
